@font-face {
          font-family: 'OpenSans-Light';
          src: url("../font_link/OpenSans-Light.ttf");
}

@font-face {
          font-family: 'OpenSans-Regular';
          src: url("../font_link/OpenSans-Regular.ttf");
}
@font-face {
          font-family: 'OpenSans-Medium';
          src: url("../font_link/OpenSans-Medium.ttf");
}
@font-face {
          font-family: 'OpenSans-SemiBold';
          src: url("../font_link/OpenSans-SemiBold.ttf");
}
@font-face {
          font-family: 'OpenSans-Bold';
          src: url("../font_link/OpenSans-Bold.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,600;1,700&display=swap');
/* font-family: 'Open Sans', sans-serif; */

body{
    font-family: 'OpenSans-Regular';
    color: #484F5B;  
}

h1{
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'OpenSans-Bold';
}
p{
    margin-top: 0;
    margin-bottom: 7px;
    font-family: 'OpenSans-Regular';
}
a{
    text-decoration: none;
}

a:hover{
    color: #484F5B; 
}
.img-bg-container{
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
}
.balance-mt-5{
    padding-top: 118px;
}
.margin-right-0{
    margin-right: 0px !important;
}
/* ///////////////////////////////////////////////////// */

/* navbar start */
.navbar-top-default{
    position: absolute;
    top: 0;
    z-index: 99;
    height: 110px;
    width: 100%;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    background-color: #fff;
}


.header-appear .navbar-top-default {
    height: 100px;
    position: fixed;
    z-index: 888;
    background: #fff;
    -webkit-animation-name: animationFade;
    animation-name: animationFade;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
}
@-webkit-keyframes animationFade {
    from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
    to { opacity: 1; -webkit-transform: none; transform: none; }
}
@keyframes animationFade {
    from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0);
    }
    to { opacity: 1; -webkit-transform: none; transform: none; }
}

.header-appear .navbar .logo-default,
.navbar .logo-scrolled {
    display: none;
}
.header-appear .navbar .logo-scrolled,
.navbar .logo-default{
    display: inline-block;
}
.logo{
    width: 26%;
}


.nav-list{
    display: inline-flex;
    list-style: none;
}
.nav-a{
    color: #484F5B;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 20px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;  
    transition:  all 0.3s ease;
}
.nav-a:hover{
    color: #15171a;
}

.menu-bar{
    /* border: 1px solid red; */
    display: block;
    height: 30px;
    width: 33px;
    position: relative;
}
.menu-span{
    position: absolute;
    top: 13px;
    left: 0;
    width: 30px;
    height: 2px;
    background: #2b2b2b;
    display: inline-block;
}
.menu-span:before,
.menu-span:after{
    content: '';
    position: absolute;
    height: 2px;
    width: 30px;
    transition:  all 0.2s ease-in-out;
}
.menu-span:before{
    top: -7px;
    left: 0;
    background: #2b2b2b;
}
.menu-span:after{
    top: 7px;
    width: 15px;
    right: 0;
    background: #2b2b2b;
}
.menu-bar:hover .menu-span:before,
.menu-bar:hover .menu-span:after{
    width: 17px;
}
#menu-bar:checked ~ .nav-list{
    left: 0%;
}
.btnn-close{
    position: absolute;
    right: 65px;
    top: 30px;
    color: #ffffff;
    font-size: 26px;
    cursor: pointer;
    z-index: 1111;
}

.btnn-close:hover{
    -webkit-animation: .8s rotate;
    animation: .8s rotate;
}
@-webkit-keyframes rotate {
    from{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.radio{
    display: none;
}
.btnn{
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 3323;
    display: inline-block;
}



@media (max-width:992px){
    .nav-list{
        position: fixed;
        top: 0px;
        left: -100%;
        display: block;
        width: 100%;
        max-width: 320px;
        height: 100vh;
        background-color:#484F5B;
        padding-left: 20px;
        padding-right: 20px;
        transition:  all 0.3s ease-in-out;
        padding-top: 100px;
    }
    .nav-a{
        color: #fff;
        padding:8px 0px;
        display: block;
    }
    .nav-a:hover{
        color: rgb(216, 215, 215);
    }
    
}



/*min-width*/
 
@media(min-width:992px){
    .menu-destop,
    .btnn-close{
        display: none;
    }
}
/* ------------navbar end ---------------------*/
.balance-container{
    background-image: url(../img/header-bg.png);
    background-position: 30% 60%;
}
.balance-img{
    width: 100%;
    height: 626px;
}
.balance-img img{
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.balance-content{
    padding-left: 58px;
  }
.balance-h1{
    margin-top: 84px;
}
.balance-h1,
.pregnant-h1{
    font-size: 75px;
    color: #484F5B;
    margin-bottom: 0;
}
.balance-p,
.pregnant-p,
.join-p{
    font-size: 20.83px;
    color: #484F5B;
    letter-spacing: 10;
    line-height: 33px;
    margin-top: 66px;
    margin-bottom: 80px;
}
.balance-btn,
.pregnant-btn{
    font-size:20.83px;
    text-align: center;
    font-family: 'OpenSans-Bold';
    padding:10px 30px;
    color: #484F5B;
    background-color: #E6C8C3;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 150px;
    transition: all 0.4s ease-in-out;
}
.balance-btn:hover,
.pregnant-btn:hover{
    background-color: #ceb8b2;
}
.pregnant-container{
    padding-top: 177px;
    padding-bottom: 170px;
    background-image: url(../img/pregnant-bg.png);
}

.pregnant-p{
    padding-right: 58px;
}

.pregnant-btn{
    margin-bottom: 0;
}

.yoga-container{
    padding-top: 80px;
    padding-bottom: 112px;
}
.yoga-card{
    height: 206px;
    text-align: center;
    position: relative;
}
.yoga-card img{
    height: 100%;
}

.yoga-sec-img{
    position: absolute;
    top: 35%;
    left: 50%;
    width: 100%;
    object-fit: cover;
    transform: translate(-50% , -50%);
}
.yoga-sec-img-1{
    top: 46%;
}
.yoga-sec-img img{
    width: 100%;
    max-width: 215px;
}
.yoga-content{
    text-align: center;
}
.yoga-h1{
    margin-top: 18px;
    font-size: 25px;
    color: #484F5B;
}
.yoga-p{
    font-size: 20px;
    margin-bottom: 0;
    color: #484F5B;
    line-height: 27px;
}
.breathing-container{
    padding-top: 80px;
    padding-bottom: 114px;
    background-image: url(../img/breathing-bg.png);
    background-position: 0% 50%;
}

.breathing-content{
    margin-top: 15px;
  }
  .breathing-right-bg{
    position: relative;
}

.breathing-content{
    padding-right:55px;
  }
  
  .breathing-p{
    margin-top: 52px;
    margin-bottom: 47px;
    padding-right: 90px;
}


.breathing-btn{
    margin-bottom: 0;
}
.breathing-right-bg{
    width: 100%;
    height:439px;
}
.breathing-right-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.breathing-right-bg:before,
.vedio-left-bg:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  
}

.breathing-right-bg:before{
    background-color: rgba(0,0,0,0.2);
}

.join-container{
    padding-top: 127px;
    padding-bottom: 134px;
    background-image: url(../img/join-now-img.png);
    background-color:#e3e1df;
}
.join-content{
    position: relative ;
    z-index: 2;
}

.join-small-img-position{
    position: absolute !important;
    top: -10px;
    left: 0px;
    z-index: -1;
}
.join-h1{
    font-size: 58.33px;
    color: #484F5B;
    margin-bottom: 0;
}
.join-p{
    margin-top: 52px;
    margin-bottom: 47px;
    padding-right: 0; 
}
.galery-container{
    padding-top: 91px;
    padding-bottom: 95px;
    background-image: url(../img/galary-bg.png);
}
.galery-h1{
  font-size:58.33px;
  letter-spacing: 10;
  margin-bottom: 45px;
}
.galery-p{
  font-size:20.83px;
  margin-bottom: 57px;

}
.galery-overlay{
    margin-top: 56px;
}
.card-image{
    width: 100%;
    height: 379px;
    object-fit: cover;
}
.galery-body{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.galery-content{
    text-align: center;
    padding: 40px 28.7px 38px;
    background-color: #fff;
}
.galery-h2{
    font-size:33.33px;
    letter-spacing: 10;
    margin-bottom: 30px;
  }
.galery-p2{
    font-size:15.67px;
    letter-spacing: 10;
    margin-bottom: 0px;
    color: #555555;
  }
.vedio-container{
    padding-top: 152px;
    padding-bottom: 160px;
    background-color: #E5CCC6; 
}

.vedio-left-bg{
    width: 100%;
    height: 418px;
   position: relative;
   box-shadow: rgba(50, 50, 93, 0.25) 10px 30px 60px -12px, rgba(0, 0, 0, 0.3) 10px 18px 36px -18px;
  }
  
  .vedio-left-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}

.paly-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.vedio-social-icon a{
    background-color: #484F5B;
    color: #fff;
    display: inline-block;
    padding: 0px 4px;
    font-size: 21px;
    width: 37.06px;
    height: 38px;
    line-height: 39px;
    text-align: center;
    border-radius: 2px;
    margin-right: 52px;

}
.vedio-social-icon a:hover{
    background-color: #38404dfa;
}


/* ///////////////////////////////////////////////// */

.vedio-content,
.join-content{
  padding-left: 55px;
}

/* ///////////////////////////////////////////////// */
.trailer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background-color: rgba(0,0,0,0.6);
    z-index: 999;
}
.trailer.active{
    visibility: visible;
    opacity: 1;
    
}
.trailer video{
    position: relative;
    max-width: 900px;
    outline: none;
    object-fit: cover;

}

.trailer svg{
    position: absolute;
    top: 30px;
    right: 30px;
    max-width: 32px;
    font-weight: 600;
    font-family: 'OpenSans-Bold';
    display: inline-block;
    cursor: pointer;
}


 

.touch-container{
    padding-top: 91px;
    padding-bottom: 63px;
    background-image: url(../img/get-in-touch.png);
    background-position: 0% 10%;
}

.touch-h1{
    margin-bottom: 59px;
}
.touch-0{
    margin-bottom: 0px;
}
.touch-overlay{
    margin-top: 75px;
}
.touch-input{
    height: 61px;
    padding: 8px 16px;
    width: 100%;
   
}
.touch-textarea{
    text-align: left;
    width: 100%;
}
.touch-input,
.touch-textarea{
  background-color: #EFEFEF;
  border: 1px solid #B0B0B0;
  font-size: 20px;
  color: #B0B0B0;
}
.form-mt{
    margin-top: 34px;
}
.form-btn{
    margin-top: 53px;
}

 .footer-container{
   padding-top:62.5px;
   padding-bottom:58.5px;
   background-color: #484F5B;
 }
  .footer-title{
   font-size: 25px;
   color: #fff;
   letter-spacing: 10;
   margin-bottom: 16px;
  }
  .footer-text-span,
  .footer-link,
  .footer-copyright{
    font-size: 16.67px;
    display: block;
    color: #ffff; 
  }
  
  .footer-text-span{
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 35px;
    display: inline-block;
  }
  .footer-ul{
      list-style: none;
      padding-left: 0;
  }
  
  .footer-a{
      color: #fff;
      letter-spacing: 10;
      font-size: 16.67px;
      display: block;
  }
  .footer-a:hover,
  .footer-link:hover{
      color: rgb(216, 212, 212);
  }
 
  .footer-copyright{
      margin-top: 26.7px;
      line-height: 29.7px;
  }
  .footer-social-icon{
      margin-top: 32.1px;
  }
  .footer-social-icon-a{
    color: #484F5B;
    background-color: #fff;
    display: inline-block;
    width: 21.47px;
    height: 22.28px;
    text-align: center;
    line-height: 22px;
    font-size: 13px;
    border-radius: 2px;
    margin-right: 26.1px;
    transition: all 0.3s ease-in-out;
  }
  .footer-social-icon-a:hover{
    background-color: rgb(156, 156, 156);
    color: #fff;
  }

    .margin-top-0{
        margin-top: 0;
    }
    .mmb-0{
        margin-bottom: 0 !important;
    }

/* /////////////////////////////////////////////jkuytrytry */





@media(max-width:1400px){
    .balance-container{
        background-position: 30% 80%;
    }
    .balance-content{
        padding-left: 25px;
      }
    .balance-h1,
    .pregnant-h1{
        font-size: 60px;
        margin-top: 65px;
    }
    .balance-p,
    .pregnant-p{
       margin-top: 56px;
       margin-bottom: 70px;
   }
   .pregnant-container{
       padding-top: 75px; 
       padding-bottom: 96px; 
       background-image: url(../img/pregnant-bg.png);
       background-position: 30% 60%;
}
   .pregnant-h1{
       margin-top: 0;
   }
   .yoga-container{
       padding-top: 70px;
       padding-bottom: 80px;
}
    .breathing-container{
        background-position: 20% 50%;
    }
    .breathing-content{
       padding-right:20px;
    }
    .breathing-right-bg{
        height: 418px;
    }
    .join-container{
        background-position: 0% 0%;
    }
    .join-p{
        margin-top: 42px;
        margin-bottom: 37px;
    }
    .join-content,
    .vedio-content{
       padding-left: 20px;
}
    .galery-container{
      background-position: 80% 10%;
      padding-top: 53px;
      padding-bottom: 55px;
            
    }
    .galery-h1{
        margin-bottom: 35px;
    }
    .galery-p{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .card-image{
        height: 256px;
    }
    .galery-content{
        padding: 30px 15px 28px;
    }
    .galery-h2{
        font-size: 28px;
        margin-bottom: 22px;
    }
    .trailer video{
        max-width: 80%;
    }
 
    .footer-title{
        font-size: 22px;
    } 
    .footer-a{
        font-size: 14px;
    }


 }






 @media(max-width:1200px){
    .balance-container{
        background-position: 80% 100%;
    }
    .balance-img{
        height: 475px;
    }
    .balance-h1,
    .pregnant-h1{
        font-size: 45px;
    }
    .breathing-container{
        /* background-position: 60% 66%; */
        background-position: 100% 50%;
       }
    .join-h1{
        font-size:36px;
        line-height:50px;
    }
    
 }
 




 @media(max-width:992px){
    .balance-h1,
    .pregnant-h1{
        font-size: 32px;
    }
    .balance-h1{
        margin-top: 40px;
    }
    .balance-btn{
        margin-bottom: 40px;
    }
    .join-h1{
        font-size:26px;
        line-height: 40px;
    }
    .balance-p,
    .pregnant-p,
    .join-p{
        font-size: 18.83px;
    }
    .balance-content{
        padding-left: 0px;
    }
    .breathing-container{
        padding-top: 70px;
        padding-bottom: 80px;
    }
    .breathing-content{
        padding-right:0px;
    }
   
    .join-p{
        margin-top: 32px;
        margin-bottom: 35px;
    }
    .pregnant-container{
        padding-top: 60px;
        padding-bottom: 80px; 
    }
    
    .yoga-container{
        padding-top: 35px;
        padding-bottom: 45px;
    }
    .yoga-p{
        font-size: 16px;
    }

    .join-container{
        padding-top: 70px;
        padding-bottom: 85px;
    }

    .join-content,
    .vedio-content{
      padding-left: 0px;
      position: relative;
    }
    
    .galery-h1{
        font-size: 50px;
    }
    .galery-p{
        font-size: 16.83px;
        margin-bottom: 20px;
    }
    .galery-content{
        padding: 22px 2px;
    }
    .galery-h2{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .vedio-container{
        padding-top: 70px;
        padding-bottom: 85px;
    }
    
    .touch-container{
        padding-top: 70px;
        background-position: 100% 10%;
    }
    
    .touch-overlay{
        margin-top: 60px;
    }
    .touch-input{
        height: 45px;
    }
  
    
 }




 @media(max-width:768px){
    .balance-img{
        height: auto;
    }
    .balance-content,
    .pregnant-content,
    .breathing-content,
    .join-content,
    .vedio-content{
        text-align: center;
    }
    .balance-h1{
        margin-top: 25px;
    }
    .balance-p,
    .pregnant-p,
    .join-p{
        font-size: 16px;
        margin-top: 22px;
        margin-bottom: 32px;
    }
    .pregnant-p{
        padding-right: 0;
    }
    .balance-btn,
    .pregnant-btn{
        font-size: 16px;
        padding: 7px 19px;
    }
    .breathing-container{
        background-position: 100% 50%;
    }
    .paly-video svg{
        width: 40px;
        height: 60px;
    }
    
    .join-small-img-position{
        display: none;
    }  
   
 }





 @media(max-width:576px){
    .balance-container{
        background-position: 100% 100%;
    }
    .balance-h1{
        margin-top: 15px;
    }
    .pregnant-container{
        padding-top: 17px;
        padding-bottom: 45px;
        background-image: url(../img/pregnant-bg.png);
        background-position: 77% 60%;
    }
    
    .yoga-container{
        padding-top: 35px;
        padding-bottom: 45px;
    }
    .yoga-mt-5:not(:first-child){
        margin-top: 3rem;
    }
    .yoga-card{
        height: 138px;
    }
    .yoga-sec-img{
        max-width: 149px;
    }
    .breathing-container{
        padding-top: 35px;
        padding-bottom: 35px;
        background-position: 62% 60%;
    }
    .breathing-right-bg{
        height: 215px;
    }
    .join-container{
        padding-top: 35px;
        padding-bottom: 30px;
        
    }
    .join-p{
        margin-top: 27px;
        margin-bottom: 22px;
    }
    .galery-h1{
        font-size: 32px;
        margin-bottom: 20px;
    }
    .card-image{
        height: 220px;
    }
   
    .galery-h2{
        margin-bottom: 15px;
    }
    .galery-p2{
        font-size: 13.67px;
    }
    .galery-container{
        padding-top: 35px;
        padding-bottom: 30px;
        background-position: 96% 0%;
    }
   .vedio-container{
       padding-top: 35px;
       padding-bottom: 30px;
   }
   .vedio-left-bg{
       height: 216px;
   }
   .vedio-social-icon a{
       margin-right: 23px;
   }
   .touch-container{
       padding-top: 35px;
       padding-bottom: 30px;
   }
   .touch-overlay{
       margin-top: 43px;
   }
   
  
   .footer-container{
        padding-top: 42px;
        padding-bottom: 35px;
 }
    .footer-text-span{
        margin-top: 13px;
        margin-bottom: 19px;
    }
    .footer-text-center{
        text-align: center;
    }
 }






